    /* Estilo para a Proposta*/

    .lst-kix_kg9kmva8b8h8-1>li:before {
        content: "\0000a7  " counter(lst-ctn-kix_kg9kmva8b8h8-1, decimal) "\0000ba   "
    }

    .lst-kix_kg9kmva8b8h8-2>li:before {
        content: "" counter(lst-ctn-kix_kg9kmva8b8h8-2, upper-roman) ".  "
    }

    .lst-kix_kg9kmva8b8h8-0>li:before {
        content: "Art.  " counter(lst-ctn-kix_kg9kmva8b8h8-0, decimal) "\0000ba  "
    }

    ol.lst-kix_ymeegnke1ed9-6.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-6 0
    }

    .lst-kix_kg9kmva8b8h8-4>li:before {
        content: "Art.  " counter(lst-ctn-kix_kg9kmva8b8h8-4, upper-roman) "\0000ba  "
    }

    .lst-kix_ymeegnke1ed9-2>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-2
    }

    .lst-kix_kg9kmva8b8h8-6>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-6
    }

    ol.lst-kix_kg9kmva8b8h8-1.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-1 0
    }

    .lst-kix_kg9kmva8b8h8-1>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-1
    }

    .lst-kix_kg9kmva8b8h8-3>li:before {
        content: "Art.  " counter(lst-ctn-kix_kg9kmva8b8h8-3, decimal) "\0000ba  "
    }

    .lst-kix_ymeegnke1ed9-8>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-8
    }

    .lst-kix_kg9kmva8b8h8-7>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-7
    }

    .lst-kix_kg9kmva8b8h8-8>li:before {
        content: "Art.  " counter(lst-ctn-kix_kg9kmva8b8h8-8, lower-roman) "\0000ba  "
    }

    .lst-kix_kg9kmva8b8h8-5>li:before {
        content: "Art.  " counter(lst-ctn-kix_kg9kmva8b8h8-5, lower-roman) "\0000ba  "
    }

    .lst-kix_kg9kmva8b8h8-7>li:before {
        content: "Art.  " counter(lst-ctn-kix_kg9kmva8b8h8-7, lower-latin) "\0000ba  "
    }

    ol.lst-kix_kg9kmva8b8h8-8.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-8 0
    }

    .lst-kix_kg9kmva8b8h8-6>li:before {
        content: "Art.  " counter(lst-ctn-kix_kg9kmva8b8h8-6, decimal) "\0000ba  "
    }

    .lst-kix_kg9kmva8b8h8-0>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-0
    }

    ol.lst-kix_kg9kmva8b8h8-0 {
        list-style-type: none
    }

    .lst-kix_ymeegnke1ed9-7>li:before {
        content: "(" counter(lst-ctn-kix_ymeegnke1ed9-7, lower-latin) ") "
    }

    ol.lst-kix_kg9kmva8b8h8-2 {
        list-style-type: none
    }

    ol.lst-kix_kg9kmva8b8h8-1 {
        list-style-type: none
    }

    ol.lst-kix_kg9kmva8b8h8-5.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-5 0
    }

    .lst-kix_ymeegnke1ed9-6>li:before {
        content: "(" counter(lst-ctn-kix_ymeegnke1ed9-6, lower-roman) ") "
    }

    ol.lst-kix_kg9kmva8b8h8-2.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-2 0
    }

    .lst-kix_ymeegnke1ed9-1>li:before {
        content: "" counter(lst-ctn-kix_ymeegnke1ed9-1, upper-latin) ". "
    }

    .lst-kix_ymeegnke1ed9-0>li:before {
        content: "" counter(lst-ctn-kix_ymeegnke1ed9-0, upper-roman) ". "
    }

    .lst-kix_ymeegnke1ed9-8>li:before {
        content: "(" counter(lst-ctn-kix_ymeegnke1ed9-8, lower-roman) ") "
    }

    .lst-kix_ymeegnke1ed9-1>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-1
    }

    ol.lst-kix_ymeegnke1ed9-8 {
        list-style-type: none
    }

    ol.lst-kix_ymeegnke1ed9-2.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-2 0
    }

    ol.lst-kix_ymeegnke1ed9-7 {
        list-style-type: none
    }

    ol.lst-kix_ymeegnke1ed9-6 {
        list-style-type: none
    }

    ol.lst-kix_ymeegnke1ed9-8.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-8 0
    }

    ol.lst-kix_ymeegnke1ed9-5 {
        list-style-type: none
    }

    .lst-kix_ymeegnke1ed9-7>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-7
    }

    ol.lst-kix_ymeegnke1ed9-4 {
        list-style-type: none
    }

    ol.lst-kix_ymeegnke1ed9-3 {
        list-style-type: none
    }

    .lst-kix_ymeegnke1ed9-2>li:before {
        content: "" counter(lst-ctn-kix_ymeegnke1ed9-2, decimal) ". "
    }

    ol.lst-kix_ymeegnke1ed9-2 {
        list-style-type: none
    }

    ol.lst-kix_ymeegnke1ed9-1 {
        list-style-type: none
    }

    ol.lst-kix_kg9kmva8b8h8-8 {
        list-style-type: none
    }

    ol.lst-kix_ymeegnke1ed9-0 {
        list-style-type: none
    }

    .lst-kix_ymeegnke1ed9-3>li:before {
        content: "" counter(lst-ctn-kix_ymeegnke1ed9-3, lower-latin) ") "
    }

    ol.lst-kix_kg9kmva8b8h8-7 {
        list-style-type: none
    }

    ol.lst-kix_kg9kmva8b8h8-4 {
        list-style-type: none
    }

    .lst-kix_ymeegnke1ed9-5>li:before {
        content: "(" counter(lst-ctn-kix_ymeegnke1ed9-5, lower-latin) ") "
    }

    ol.lst-kix_kg9kmva8b8h8-3 {
        list-style-type: none
    }

    ol.lst-kix_kg9kmva8b8h8-6 {
        list-style-type: none
    }

    .lst-kix_ymeegnke1ed9-4>li:before {
        content: "(" counter(lst-ctn-kix_ymeegnke1ed9-4, decimal) ") "
    }

    .lst-kix_ymeegnke1ed9-4>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-4
    }

    ol.lst-kix_ymeegnke1ed9-5.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-5 0
    }

    ol.lst-kix_kg9kmva8b8h8-5 {
        list-style-type: none
    }

    ol.lst-kix_ymeegnke1ed9-4.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-4 0
    }

    .lst-kix_ymeegnke1ed9-5>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-5
    }

    .lst-kix_kg9kmva8b8h8-4>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-4
    }

    ol.lst-kix_kg9kmva8b8h8-6.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-6 0
    }

    ol.lst-kix_kg9kmva8b8h8-3.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-3 0
    }

    ol.lst-kix_ymeegnke1ed9-1.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-1 0
    }

    .lst-kix_kg9kmva8b8h8-3>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-3
    }

    .lst-kix_kg9kmva8b8h8-5>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-5
    }

    ol.lst-kix_kg9kmva8b8h8-0.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-0 0
    }

    ol.lst-kix_ymeegnke1ed9-0.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-0 0
    }

    ol.lst-kix_kg9kmva8b8h8-7.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-7 0
    }

    .lst-kix_kg9kmva8b8h8-2>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-2
    }

    .lst-kix_ymeegnke1ed9-6>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-6
    }

    ol.lst-kix_ymeegnke1ed9-7.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-7 0
    }

    ol.lst-kix_ymeegnke1ed9-3.start {
        counter-reset: lst-ctn-kix_ymeegnke1ed9-3 0
    }

    .lst-kix_ymeegnke1ed9-3>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-3
    }

    li.li-bullet-0:before {
        margin-left: -18pt;
        white-space: nowrap;
        display: inline-block;
        min-width: 18pt
    }

    .lst-kix_ymeegnke1ed9-0>li {
        counter-increment: lst-ctn-kix_ymeegnke1ed9-0
    }

    .lst-kix_kg9kmva8b8h8-8>li {
        counter-increment: lst-ctn-kix_kg9kmva8b8h8-8
    }

    ol.lst-kix_kg9kmva8b8h8-4.start {
        counter-reset: lst-ctn-kix_kg9kmva8b8h8-4 0
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td,
    table th {
        padding: 0
    }

    .c11 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 45pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c35 {
        margin-left: 0pt;
        padding-top: 12pt;
        list-style-position: inside;
        text-indent: 45pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c29 {
        margin-left: 0pt;
        padding-top: 12pt;
        list-style-position: inside;
        text-indent: 45pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c15 {
        margin-left: 0pt;
        padding-top: 12pt;
        list-style-position: inside;
        text-indent: 28.5pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c27 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 10.6pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c43 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 45pt;
        padding-bottom: 10pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c28 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 45pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c18 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 28.5pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c36 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 28.5pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c17 {
        margin-left: 0pt;
        padding-top: 12pt;
        list-style-position: inside;
        text-indent: 45pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c7 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 45pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c13 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 10.6pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c4 {
        padding-top: 0pt;
        text-indent: 70.9pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: 142pt;
        height: 11pt
    }

    .c10 {
        margin-left: 0pt;
        padding-top: 0pt;
        list-style-position: inside;
        text-indent: 10.6pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c2 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: justify;
        margin-right: -0.4pt
    }

    .c8 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: justify;
        margin-right: -0.4pt
    }

    .c1 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.0;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: justify;
        margin-right: -0.4pt
    }

    .c14 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: justify;
        margin-right: -0.4pt
    }

    .c16 {
        /* padding-top: 10pt; */
        padding-bottom: 10pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: justify;
        /* margin-right: -0.4pt */
    }

    .c26 {
        color: #674ea7;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 33pt;
        font-family: "Arial";
        font-style: normal
    }

    .c12 {
        color: #ff0000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c5 {
        color: #ff0000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c34 {
        color: #674ea7;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 16pt;
        font-family: "Arial";
        font-style: normal
    }

    .c0 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c9 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Arial";
        font-style: normal
    }

    .c44 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: right;
        margin-right: 120.4pt
    }

    .c6 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Arial";
        font-style: normal
    }

    .c25 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 11pt
    }

    .c19 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c48 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c31 {
        padding-top: 0pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c49 {
        padding-top: 0pt;
        padding-bottom: 10pt;
        line-height: 1.0;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c20 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c33 {
        padding-top: 12pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c24 {
        padding-top: 12pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c37 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c39 {
        color: #674ea7;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 15pt;
        font-family: "Arial";
        font-style: normal
    }

    .c52 {
        color: #8e7cc3;
        text-decoration: none;
        vertical-align: baseline;
        font-family: "Arial";
        font-style: normal
    }

    .c47 {
        color: #674ea7;
        text-decoration: none;
        vertical-align: baseline;
        font-family: "Arial";
        font-style: normal
    }

    .c40 {
        margin-left: 0pt;
        list-style-position: inside;
        text-indent: 10.6pt
    }

    .c45 {
        background-color: #ffffff;
        max-width: 538.6pt;
        padding: 72pt 28.3pt 28.3pt 28.3pt
    }

    .c38 {
        margin-left: 0pt;
        list-style-position: inside;
        text-indent: 28.5pt
    }

    .c53 {
        margin-left: 0pt;
        list-style-position: inside;
        text-indent: 45pt
    }

    .c42 {
        margin-left: 36pt;
        padding-left: 0pt
    }

    .c21 {
        font-size: 11pt;
        font-weight: 700
    }

    .c51 {
        page-break-after: avoid;
        margin-right: -0.4pt
    }

    .c23 {
        font-size: 23pt;
        font-weight: 700
    }

    .c3 {
        padding: 0;
        margin: 0
    }

    .c32 {
        height: 20pt
    }

    .c22 {
        color: #ff0000
    }

    .c46 {
        margin-right: 63.4pt
    }

    .c41 {
        height: 11pt
    }

    .c30 {
        font-weight: 700
    }

    .c50 {
        color: #674ea7
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }